
*.npy
*.DS_Store
data/.DS_Store
data/models/.DS_Store
data/training-trajectories/.DS_Store
*.zip
data/results_cache/bayesian_estimation/.DS_Store
data/results_cache/bayesian_estimation/.DS_Store
*.h5
*.hdf5
*.csv
*.pyc
paramest_nn.egg-info
*.pdf
*.tflite
*.svg
